/*
Orange
background-dark #04222F
background-grey #DDD
253,175,49
 */

ol,ul {
    padding: 0;
}

body, html {
    font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #041927;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand > img {
  padding-top: 5px;
  max-height: 35px;
}

h1 {
	font-weight: 200;
}
h1 strong {
	font-weight: 400;
}
h2 {
	font-size: 36px;
	margin: 0;
    color: #d9e0e2;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
/*	font-family: 'Open Sans', sans-serif;*/
	font-size: 13px;
}
a {
	color: #d9e0e2;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fdaf31;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #041927;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #BF7F18;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(4, 34, 47, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #d9e0e2;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #fdaf31;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #d9e0e2;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fdaf31;
}
.on {
	background-color: #041927 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fdaf31 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fdaf31;
	border-color: #fdaf31;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
header {
	background: linear-gradient(rgba(4, 25, 39, 0.7), rgba(4, 25, 39, 0.7)), url(../img/header-bg.jpg) no-repeat top center;
	background-size: cover;
	color: #d9e0e2;
	position: relative;
	height: 100%;
}
header p {
	color: #d9e0e2;
	font-size: 18px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intro-text {
	position: relative;
	padding-top: 198px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 70px;
	text-transform: uppercase;
	color: #d9e0e2;
	letter-spacing: 2px;
}
.color {
	color: #fdaf31;
}
.btn-default {
	color: #041927;
	font-family: 'Open Sans', sans-serif;
	background-color: #fdaf31;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #BF7F18;
}
/* Services Section */
#services-section {
	padding: 80px 0 100px 0;
	background: #041927;
	color: #d9e0e2;
}
#services-section h4 {
	color: #d9e0e2;
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}

.small-space {
	margin-top: 30px;
}

#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
	margin-bottom: 6px;
	color: #fdaf31;
	transition: all 0.5s;
}
#services-section .service:hover>i.fa {
/*	background: #0b3540;*/
}
/* Gallery Section
==============================*/
#works-section {
	padding: 80px 0;
	background: #EEE;
}

#works-section h2 {
    color: #041927;
}

#works-section i.fa {
	font-size: 30px;
	padding: 5px;
	color: #fdaf31;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ul.type li {
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
}
ul.type li a {
  display: inline-block;
  color: #51633d;
	border: 1px solid #BF7F18;
	padding: 8px 16px;
	border-radius: 3px;
}
ul.type li a.active {
	background: #fdaf31;
    border-color: transparent;
}
ul.type li a:hover {
	background: #fdaf31;
    border-color: transparent;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #d9e0e2;
	background: rgba(4, 25, 39, 0.8);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 20px;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #EEE;
}
.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 2.5em;
  color: #041927;
}
.portfolio-modal .modal-content p {
  margin: auto;
  margin-bottom: 30px;
  width: 60%;
  text-align: center;
}
.portfolio-modal .modal-content p.item-intro {
	font-size: 14px;
	font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.portfolio-modal .close-modal:hover {
	opacity: .3;
}
.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #041927;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #041927;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.portfolio-modal .btn-primary {
	color: #d9e0e2;
	background-color: #041927;
	border-color: #041927;
}
.portfolio-modal .btn-primary:hover, .portfolio-modal .btn-primary:focus, .portfolio-modal .btn-primary.focus, .portfolio-modal .btn-primary:active, .portfolio-modal .btn-primary.active {
	color: #d9e0e2;
	background-color: #041927;
	border-color: #041927;
}
/* About Section */
#about-section {
	padding: 80px 0;
	background: #041927;
	color: #d9e0e2;
}

#about-section h4 {
	color: #d9e0e2;
	font-size: 20px;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "✓";
	color: #fdaf31;
	padding-right: 5px;
}
/* Team Section */
#team-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background: rgb(193,166,24); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */
}
#team-section hr {
	background: #a9971c;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
	color: #041927;
}
#team-section i.fa {
	font-size: 16px;
	color: #faeaab;
	margin-top: 10px;
}
#team-section i.fa:hover {
	color: #041927;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #041927;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #fdaf31;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #fdaf31;
}
/* Testimonials Section */
#testimonials-section {
	padding: 80px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
	background: url(../img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #041927;
}
#testimonial {
	padding: 30px 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}
/* Contact Section */
#contact-section {
	padding: 80px 0 130px 0;
	background: #EEE;
}
#contact-section hr {
	background: #BF7F18;
}

#contact-section h2 {
    color: #041927;
}

#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
  margin-top: 35px;
}

#contact-section form {
	padding: 30px 0;
}

#contact-section .fa {
	color: #041927;
	margin-bottom: 10px;
}

#contact-section a:link {
  color: #041927;
}

#contact-section a:hover, #contact-section a:focus {
	text-decoration: none;
	color: #fdaf31;
}

label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #041927;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9e0e2;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .social {
	margin-top: 60px;
}
#contact-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact-section .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	color: #041927;
	transition: all 0.5s;
}
#contact-section .social i.fa:hover {
	color: #041927;
}
#contact-section .btn {
	padding: 6px 14px;
	margin-top: 20px;
	color: #fef9e7;
	font-size: 16px;
	transition: all 0.5s;
}

#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer */
#footer {
	background: #041927;
	padding: 15px 0 10px 0;
	color: #42626b;
	text-align: center;
}
#footer p {
	margin-top: 10px;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 55px;
}

.icon-illustration {
  background: url(../img/icons/illustration.svg) center center/contain no-repeat;
}

.icon-infographics {
  background: url(../img/icons/infographic.svg) center center/contain  no-repeat;
}

.icon-printdesign {
  background: url(../img/icons/printdesign.svg) center center/contain no-repeat;
}


.icon-branding {
  background: url(../img/icons/branding.svg) center center/contain no-repeat;
}

.img-partial-size {
  width: 60%;
}

.about-wrapper {
  width: 50%;
  margin: auto;
}

.portfolio-link img {
  margin: auto;
  height: 100%;
  width: 100%;
}

.contact-section p {
  color: #041927;
}

#about-section p, #contact-section p {
  font-size: 16px;
}

body {
  font-size: 16px;
}

@media (max-width: 768px) {
  .intro-text {
    padding-top: 35%;
  }

  #menu.navbar-default .navbar-nav > li > a {
    font-size: 18px;
  }

  #services-section, #works-section, #about-section, #contact-section {
    padding-top: 15px;
  }

  #about-section p, #contact-section p {
    font-size: 18px;
  }

  body {
    font-size: 18px;
  }

  .btn-default {
    font-size: 22px;
  }
  .btn-lg, .btn-group-lg > .btn {
    padding: 13px 48px;
  }

  #services-section {
    padding-top: 5px;
  }

  #services-section .space {
    margin-top: 0;
  }

  .section-title {
    padding: 15px 0;
  }

  #works-section hr {
    margin-bottom: 0;
  }

  .content {
  	padding: 40% 0 0;
  }

  .about-wrapper {
    width: 65%;
    margin: auto;
  }

}

@media (max-width: 603px) {
  #menu.navbar-default {
  	background-color: rgba(0, 0, 0, 0.9);
  }
  label {
  	float: none !important
  }
  .hover-bg .hover-text {
  	padding: 12% 10%;
  }

  .about-wrapper {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 360px) {
  .hover-bg .hover-text {
  	padding: 22% 10%;
  }

  .about-wrapper {
    width: 80%;
    margin: auto;
  }
}
